body, html {
    height: 80%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("../Images/Homepageimgnewagain.png");
    /* Full height */
    height: 80%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
  }

  .menu-bg{
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

  }
  