/* body, html {
    height: 90%;
  }
  
  .bg { 
   
    background-image: url("../Images/Homepageimgnewagainnew.png");
   
    height: 90%; 
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
  }

  .menu-bg{
      
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

  } */
  
  @media (min-width: 0px) {
    .splashPage{
    
        width: 100px;
        height: 100px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .splashPage{
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 768px) { 
    .splashPage{
        width: 500px;
        height: 500px;  
    }
 }


@media (min-width: 992px) { 
    .splashPage{
        width:700px;
        height:700px;
    }
 }


@media (min-width: 1200px) { 
    .splashPage{
        width:1000px;
        height:1000px;
    }
 }