
.circle1 {
    background: rgb(238, 132, 132);
    border-radius: 50%;
    width: 360px;
    height: 360px;
    margin-top: 1vw;
    margin-left: -5vw;
}


.circle2 {
    background: rgb(165, 121, 89);
    border-radius: 50%;
    position: absolute;
    width: 360px;
    height: 360px;
    left: 60%;
    margin-top: 12vw;
    margin-right: 80vw;
}



* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 15px;
  }
  
  input[type=submit] {
    background-color:lightcoral;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: wheat;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }