@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Ubuntu:wght@300&display=swap');

#textforspecialoffer {

color: tomato;
font-family: 'Ubuntu', sans-serif;
font-size: 30px;

}
