 #headertextstyle{
    align-content: left;
        margin-left:10vw;
       
        color: rgb(217, 203, 203);
    }

    #linestyle{
        align-content: left;
     
            width:100vw;
            color: rgb(224, 59, 59);
        }



