.cardbodydrizzle {
    background-color: rgb(120, 176, 202);
    width:100%;
}

.cardbodyrain{
    background-color: rgb(155, 155, 151);
    width:100%;
}

.cardbodysnow{
    background-color: rgb(200, 226, 236);
    width:100%;
}

.cardbodyclear{
    background-color: rgb(224, 224, 190);
    width:100%;
}

.cardbodycloud{
    background-color: rgba(251, 251, 251, 0.972);
    width:100%;
}

.cardbodyfog{
    background-color: rgb(221, 221, 214);
    width:100%;
}

.cardbodythunderstorm{
    background-color: rgb(119, 119, 114);
    width:100%;
}